@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto',
        sans-serif;
    overflow-x: hidden;
}

.nav_container {
    height: 100px;
    width: 100%;
}

.main_navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333545;
    align-items: center;
}

.main_navbar .right {
    display: flex;
    padding: 0 51px 0 0;

}

.main_navbar .right p {
    color: #cccccc;
    font-size: 14px;
    letter-spacing: normal;
    text-align: start;

}

.main_navbar .right .btn {
    height: 25px;
    width: 67px;
    color: #fff;
    background-color: #f84464;
    border: none;
    border-radius: 4px;

}

.main_navbar .left {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 51px;
}

.main_navbar img {
    height: 40px;
    width: 90px;
}

.main_navbar input {
    height: 35px;
    width: 550px;

}





.navbar {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #222539;
    align-items: center;
}

.navbar .left {
    width: 30%;
    display: flex;
    color: #cccccc;
    font-size: 14px;
    align-items: start;
    letter-spacing: normal;
    padding: 0 0 0 51px;
    justify-content: space-between;


}

.navbar .right {
    width: 20%;
    display: flex;
    color: #cccccc;
    font-size: 12px;
    align-items: start;
    letter-spacing: normal;
    padding: 0 51px 0 0;
    justify-content: space-between;
}



.banner {
    height: 317px;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 24px;
    text-align: start;
    letter-spacing: normal;
    color: #333333;
    margin: 32px 0 8px 51px;
}

.card_class,
.online_event
{
    /* height: 420px; */
    width: 100%;
    display: flex;
    margin: 0 0 0 51px;
}

.card img {
    height: 356px;
    width: 209px;
    margin: 0 32px 12px 0;
    border-radius: 10px;

}

.card_class h2,
.online_event h2 {
    color: #222222;
    font-size: 18px;
    text-align: start;
    letter-spacing: normal;
}

.card_class p,
.online_event p {
    color: #666666;
    font-size: 16px;
    text-align: start;
    letter-spacing: normal;
    margin: 4px 0 0 0;
}

.stream {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stream img {
    height: 98px;
    width: 1177px;
}

.Entertainment {
    height: 341px;
    width: 1177px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 51px;
}

.Entertainment .card {
    height: 300px;
    width: 300px;


}

.Entertainment .card img {
    height: 209px;
    width: 209px;
}

.premiere {
    background-color: #2B3149;
    display: flex;
    flex-direction: column;
}

.premiere .card {
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.premiere .card img {
    height: 98px;
    width: 1177px;
    margin-left: 51px;

}
.premiere h1 {
    font-size: 24px;
    text-align: start;
    letter-spacing: normal;
    color: #fff;

}

.premiere p {
    font-size: 14px;
    text-align: start;
    letter-spacing: normal;
    color: #fff;
    margin: 0 0 8px 51px;

}

.Premieres {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 490px;
    width: 1177px;
    margin: 51px;


}
.Premieres .card{
    
    height: 402px;
    width: 1177px;
    display: flex;
    flex-direction: column;
    text-align: start;
}


.Premieres .card img{
    height: 314px;
    width: 209px;
    margin: 0 32px 12px 0;
    border-radius: 10px;

}


.Premieres .card h2 {
    font-size: 18px;
    text-align: start;
    letter-spacing: normal;
    color: #fff;
    


}

.Premieres .card p {
    font-size: 16px;
    text-align: start;
    letter-spacing: normal;
    color: #fff;


}
.trending{
    height: 118px;
    width: 1177px;
    display: flex;
    margin:0 51px ;

}
.small_card{
    background-color: #fff;
    height:fit-content;
    width:fit-content;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding: 1% 2%;
    margin: 2%;

    /* fill:#0000ee; */
    

}
.small_card h3{
    font-size: 16px;
        text-align: start;
        letter-spacing: normal;
        color:#f84464;

}
.small_card p{
    font-size: 14px;
    text-align: start;
    letter-spacing: normal;
    color:#666666;


}


